<div class="row card-group">
<div class="card" (click)="goBranch('Sportigo-Kanakapura Branch')">
    <img class="card-img-top" src="../../assets/kanak.jpg" alt="" width="100px" height="200px">
    <div class="card-body">
        <h4 class="card-title">Sportigo-Kanakapura Branch</h4>
        <p class="card-text">Bangalore</p>
    </div>
</div>
<div class="card" (click)="goBranch('Sportigo-Bannerghatta Branch')">
    <img class="card-img-top" src="../../assets/white.jpg" alt="" width="100px" height="200px">
    <div class="card-body">
        <h4 class="card-title">Sportigo-Bannerghatta-Branch</h4>
        <p class="card-text">Bangalore</p>
    </div>
</div>
<div class="card" (click)="goBranch('Sportigo-Whitefield Branch')">
    <img class="card-img-top" src="../../assets/whitefield.jpg" alt="" width="100px" height="200px">
    <div class="card-body">
        <h4 class="card-title">Sportigo-Whitefield Branch</h4>
        <p class="card-text">Bangalore</p>
    </div>
</div>
<div class="card" (click)="goBranch('Sportigo-Jayanagar Branch')">
    <img class="card-img-top" src="../../assets/jaya.jpg" alt="" width="100px" height="200px">
    <div class="card-body">
        <h4 class="card-title">Sportigo-jayanagar Branch</h4>
        <p class="card-text">Mumbai</p>
    </div>
</div>
<div class="card" (click)="goBranch('Sportigo-St.Marks Branch')">
    <img class="card-img-top" src="../../assets/stmarks.jpg" alt="" width="100px" height="200px">
    <div class="card-body">
        <h4 class="card-title">Sportigo-St.Marks Branch</h4>
        <p class="card-text">Chennai</p>
    </div>
</div>
</div>

