
<p class="display-2">{{company}}</p>




<div class="container">
    
    <div class="row card-group">
    <div class="col-4 card" *ngFor='let product of productlist'>
    <div class="card" (click)='onSelect(product)'>
       
        <img class="card-img-top" src="../../assets/sportsapp.png" height="150px" width="30px" alt="">
        
        <div class="card-body">
            <h4 class="card-title">{{product.productName}}</h4>
            <p class="card-text">{{product.company.companyName}}</p>
            <p class="card-text">{{product.price | currency:'Rs'}}</p>
        </div>
    </div>
    </div>
</div>
</div>