<div class="jumbotron">
    <h1 class="display-3">Sportigo</h1>
    <!-- <p class="lead">Jumbo helper text</p> -->
    <hr class="my-2">
    <pre>Sportigo is a family-owned company, founded in 1976, and inspired by the belief that the best sports products should be accessible to everyone.
Ever-evolving and high performance design, the best quality at the lowest possible price, and expert advice that customers of all ages, backgrounds and skill levels can access in-store or online, from anywhere, at any time, is what makes us who we are. And we’re pretty proud of that. </pre>
<img src="../../assets/allsports.jpg" alt="" srcset="">
    <!-- <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
    </p> -->
</div>
